.projects-full-div {
    background-color: #EDF9FE;
    padding-top: 100px;
    padding-bottom: 30px;
}

.project-heading {
    font-size: 30px;
    font-weight: bold;
    color: #0B0B61;
    text-align: center;
    padding-top: 30px;
}

.project-description {
    color: #7F8DAA;
    font-size: 23px;
}

.card-section {
    background-color: #A6E1FA !important;
    box-shadow: 5px 2px 5px;
    cursor: pointer;
    min-height: 450px;
}

.card-section:hover {
    transform: scale(1.03);
    height: 550px;
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.code-btn {
    margin-left: 10px;
}

.date-text{
    font-size: 15px;
    color: #7e6c4a;
}