.skills-full-div {
    background-color: #EDF9FE;
}

.skill-left-col {
    padding-top: 100px;
}

.skill-right-col {
    padding-top: 50px;
}

.skills-title {
    font-size: 25px;
    color: #212529;
}

.skills-social-icon-div {
    padding-top: 20px;
}

.skills-icon-react {
    font-size: 80px;
    padding-left: 15px;
    color: #61DAFB;
    cursor: pointer;
}

.skills-icon-python {
    font-size: 80px;
    padding-left: 20px;
    color: #61DAFB;
    cursor: pointer;
}

.skills-icon-node {
    font-size: 80px;
    padding-left: 20px;
    color: #3B9E41;
    cursor: pointer;
}

.skills-icon-js {
    font-size: 80px;
    padding-left: 20px;
    color: #F7DF1D;
    cursor: pointer;
}

.skills-icon-npm {
    font-size: 80px;
    padding-left: 20px;
    color: #CB3837;
    cursor: pointer;
}

.skills-icon-github {
    font-size: 80px;
    padding-left: 20px;
    color: #CB3837;
    cursor: pointer;
}

.skills-icon-git {
    font-size: 80px;
    padding-left: 20px;
    color: #CB3837;
    cursor: pointer;
}

.skills-icon-html {
    font-size: 80px;
    padding-left: 20px;
    color: #E34F25;
    cursor: pointer;
}

.skills-icon-css {
    font-size: 80px;
    padding-left: 20px;
    color: #1972B6;
    cursor: pointer;
}

.skills-icon-bootstrap {
    font-size: 80px;
    padding-left: 20px;
    color: #801AF5;
    cursor: pointer;
}

.skills-arrow-div {
    padding-top: 50px;
    text-align: left;
}

.skills-arrow-text {
    font-size: 20px;
    color: #3B9E41;
    text-align: justify;
}

.skills-arrow-icon {
    color: #61DAFB;
    margin-right: 10px;
}