.navbar-class {
    background-color: #EDF9FE;
    /* border-bottom: 1px solid #e7e7e7; */
    width: 100%;
}

.nav-link {
    color: #021C55 !important;
}

.navlink{
    color: #021C55 !important;
    text-decoration: none;
    padding-top: 10px;
    padding-left: 20px;
}