.experience-full-div {
    background-color: #EDF9FE;
    padding-top: 100px;
}

.experience-name {
    padding-top: 80px;
}

.experience-title {
    text-align: left;
}

.experience-company {
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
}

.experience-company a {
    text-decoration: none;
}

.experience-date {
    padding-left: 15px;
    font-weight: 300;
    font-size: 14px;
}

.experience-description {
    text-align: left;
}

.starIcon {
    margin-right: 10px;
}

/* extra-experience-description row */
.extra-experience-description p {
    margin-top: 20px;
    text-align: left;
}

.extra-experi-title {
    text-align: left;
    font-size: 23px;
    font-weight: bold;
}

.extra-experi-date {
    padding-left: 20px;
    font-size: 14px;
    font-weight: 300;
}

.extra-expei-des {
    padding-left: 23px;
}